* {
   font-family: Arial;
}

nav ul li{
display: inline;
border-bottom: 1px;
}

header section nav ul {
   text-align: right;
   
color: chartreuse;
}
body div .divider {
color: rgb(0, 195, 255);
text-align: center;
}
body div a:hover{
   color: rgb(255, 0, 242);
   background-color: black;
   }
h6{
   color: rgb(0, 195, 255);
   text-align: center;
}
body div .divider b :hover{
   color: rgb(68, 0, 255);
   }
section b {
   color: aquamarine;
}

.main-header {
   color: rgb(0, 0, 0);
   background-color: rgba(119, 0, 255, 0.6);
   background-image: url("Images/mylogo.png");
   background-size: cover;
   background-blend-mode: multiply;
   padding: 30px;
}


.Main{
   color: rgb(0, 0, 0);
   background-color: lightblue;
}

.red {
   color:rgb(250, 0, 0)
}

h1 {
   font-size: 25px;
   color: rgb(255, 0, 0);
}

body {
   color: rgb(0, 0, 0);
}


body div{
   text-align: center;
   
}
h3 {
   color: rgb(255, 233, 108);
}
